body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important;
  overflow-x: hidden;
}
p {
  margin-bottom: 0 !important;
}
img {
  pointer-events: none;
}
.logo {
  width: 45px;
  margin-left: 20px;
}
button:focus:not(:focus-visible) {
  box-shadow: none !important;
}
.navbar {
  background-color: #02084b;
}
.nav-link {
  color: #fff !important;
}
.banner-section {
  background: linear-gradient(0deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url(./Assets/landing-banner.jpg);
  background-position: center;
  background-size: cover;
}
.ourstory-banner {
  background: linear-gradient(0deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url(./Assets/ourStory-bg.png);
  background-position: center;
  background-size: cover;
}
.ourstory-footer-section {
  background-color: #f5f5f5;
}
.ourwork-banner {
  background: linear-gradient(0deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url(./Assets/ourWork-bg.png);
  background-position: center;
  background-size: cover;
}
.contact-section {
  background: linear-gradient(0deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url(./Assets/contact-banner.jpg);
  background-position: center;
  background-size: cover;
}
.banner-heading {
  font-family: 'Times New Roman', Times, serif !important;
}
.banner-description {
  font-size: 16px;
  line-height: 30px;
}
.banner-cta {
  padding: 12px 25px;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 12px;
  transition: all .5s;
  font-size: 16px;
  font-weight: 500;
}
.banner-cta:hover {
  background-color: rgba(255,255,255,.5);
}
.section-img {
  width: 80%;
  border-radius: 16px;
}
.section-heading {
  font-weight: 600;
}
.section-description {
  font-size: 18px;
  line-height: 30px;
  color: #666;
}
.section-bg-dark {
  background-color: #02084B;
}
.section-bg-dark .section-heading { 
  color: #FE4400;
}
.section-bg-light {
   background-color: #f5f5f5;
}
.section-bg-light .section-heading {
  color:  #3e4444;
}
.footer-heading {
  background-color: #02084B;
  padding: 16px;
  color: #fff;
  text-align: center;
  margin-bottom: 0px !important;
}
.header-links img {
  width: 25px;
  filter: invert(1);
}
.header-links {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.navbar-toggler {
  border-color: #fff !important;
}
.navbar-toggler-icon {
  filter: invert(1);
}
/* our story */
.ourstory-footer-section h1 {
  color: #ff4500;
}
.ourstory-footer-section p {
  color: #02084B;
}
.history-card {
  background-color: #02084b;
  border-radius: 20px;
  margin: 0px auto !important;
  color: #fff;
}
.product-card {
  background-color: #02084B;
  border-radius: 16px;
  min-height: 450px;
}
.product-card img {
  border-radius: 12px;
}
.product-description {
  color: #fff;
}
.history-card .slider-img {
  max-width: 460px;
}
.history-card .slider-heading,
.product-card .product-name {
  color: #FE4400;
}
.product-card .product-name {
  font-size: 20px;
}
.history-card .slider-description {
  font-size: 16px;
  line-height: 26px;
}
.history-slider .owl-nav,
.product-slider .owl-nav {
  position: absolute;
  bottom: -60px;
}
.product-slider .owl-nav {
  left: 50%;
  transform: translateX(-50%);
}
.history-slider .owl-nav button.owl-prev,
.history-slider .owl-nav button.owl-next,
.product-slider .owl-nav button.owl-prev,
.product-slider .owl-nav button.owl-next {
  background-color: #fff !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 2px 12px 0px #898484 !important;
}
.history-slider .owl-nav .owl-prev,
.product-slider .owl-nav .owl-prev {
  margin-right: 10px;
}
.history-slider .owl-nav .owl-prev span,
.history-slider .owl-nav .owl-next span,
.product-slider .owl-nav button.owl-prev span,
.product-slider .owl-nav button.owl-next span {
  font-size: 24px;
}
.contact-section .header-links img {
  filter: invert(1);
}
.store-container .store-card {
  width: 100%;
  padding: 20px;
  background-color: #02084b;
  border-radius: 16px;
}
.store-card .store-img {
  width: 40px;
}
.store-card .store-name {
  font-size: 20px;
  color: #ff4500;
}
.store-detail-section h2 {
  color: #02084B;
}
.store-address {
  color: #fff;
}
@media screen and (max-width:575px) {
  .section-heading {
    font-size: 24px;
    line-height: 34px;
  }
}
@media screen and (max-width: 767px) {
  .banner-section,
  .ourstory-banner,
  .ourwork-banner,
  .contact-section   {
    padding: 80px 0px;
  }
  .banner-heading {
    font-size: 40px;
  }
  .footer-heading {
    font-size: 14px;
  }
  .history-card {
    padding: 15px;
  }
  .history-slider .owl-nav {
    right: 10px;
    bottom: -50px;
  }
  .product-card {
    padding: 15px;
  }
}
@media screen and (min-width: 768px) {
  .banner-section,
  .ourstory-banner,
  .ourwork-banner,
  .contact-section  {
    padding: 120px 0px;
  }
  .banner-heading {
    font-size: 60px;
  }
  .footer-heading {
    font-size: 20px;
  }
  .history-card {
    padding: 40px;
    width: 90%;
  }
  .product-card {
    padding: 25px;
  }
  .history-slider .owl-nav {
    right: 80px;
    bottom: -15px;
  }
}
@media screen and (min-width:576px) and (max-width: 991px) {
  .section-heading {
    font-size: 30px;
    line-height: 42px;
  }
}

@media screen and (max-width:991px) {
  .text-medium-center {
    margin: 0px auto;
  }
  .custom-padding {
    padding: 80px 0px;
  }
  .history-card .slider-heading {
    font-size: 22px;
    line-height: 34px;
  }
  .navbar-brand {
    position: absolute;
    left: 70px;
    top: 0px;
  }
}
@media screen and (min-width:992px) {
  .banner-description {
    width: 80%;
  }
  .custom-padding {
    padding: 100px 0px;
  }
  .history-card .slider-heading {
    font-size: 34px;
  }
}
@media screen and (min-width:992px) and (max-width:1199px) {
  .section-heading {
    font-size: 35px;
    line-height: 46px;
  }
}
@media screen and (min-width:1200px) {
  .section-heading {
    font-size: 40px;
    line-height: 52px;
  }
}